### Chapter 1 : Exploratory Data Analysis

#### Structured Data
1. Numerical
    1. Continuous - indefinitely divided (i.e. Weight)
    2. Discrete - can't divide (i.e. DOB)
2. Categorial
    1. Binary - Two option (are you married)
    2. Ordinal - orders matter

- Rectangular Data
    - DataFrame and Indexes

    
![rect data](https://pltfrmrsrcscdn.sagepub.com/srm/images/research-methodology-in-the-social-behavioural-and-life-sciences/43_1.jpg)
    
- Non-Rectangular Data (Spatial Data)
    - Object Representation
    - Field Representation

2021 Olympics in Tokyo Dataset - https://www.kaggle.com/datasets/arjunprasadsarkhel/2021-olympics-in-tokyo

In [3]:
import pandas as pd
import numpy as np

In [4]:
medals = pd.read_excel('data/Medals.xlsx')

F:\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

## Estimation of Location

In [6]:
# mean of total medals
medals['Total'].mean()

11.612903225806452

### Weighted mean
same as mean, but added some x value before adding them up and diving them by number of instance

**Because not all instance are equally valuable, so substract or add**

In [7]:
# weighted mean of total medals w.r.t to gold
np.average(medals['Total'], weights=medals['Gold'])

46.832352941176474

### Trimmed Mean
1. Remove the top and bottom value by x so we get accurate mean.
**Because help to reduce the outliers**

In [8]:
# Trimmed Mean
from scipy.stats import trim_mean

trim_mean(medals['Total'], 0.1)

6.8933333333333335

## Median
The middle value of sorted list

In [9]:
# median 
medals['Total'].median()

4.0

### Weighted Median
import wquantiles

wquantiles.median(medals['Total'], weights=state['Gold'])

In [13]:
# Percentile
np.percentile(medals['Total'], 75)

11.0

In [14]:
medals.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [ ]:
## 33.min